---
export const prerender = true

import Layout from '@/components/Layout.astro';
import { fdk } from '@/utils/frames'

const frameUrl = Astro.url.href

// Generate frame metadata using Pinata FDK
const frameMetadata = fdk.getFrameMetadata({
    post_url: Astro.url.href,
    image: {
        url: `${frameUrl}index.og`
    },
    buttons: [
	  // Redirect to the homepage of the website 
      { label: 'Learn more', action: 'link', target: `${frameUrl}`,},
	  { label: 'Create puzzle', action: 'link', target: `${frameUrl}puzzle/new`,},
    ],
  });


---
<Layout title="Pokémon trivia puzzle game - Puzzlemon" frameMetadata={frameMetadata}>
  <p>hello world</p>
</Layout>
